.home__container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.home__title h1 {
  text-align: center;
  color: #fec928;
  margin: 0 0 20px 0;
  font-size: 150px;
}
.home__btnscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}
.home__dot {
  color: #ff4c4b;
  padding: 0 5px;
}

@media (max-width: 600px) {
  .home__title {
    font-size: 100px;
  }
}
